<h2><%= @user_found.name %>'s posts</h2>
<li>
  <div class="profile">
      <img class="img-profile" src=<%= @user_found.photo  %> alt='ooops'/>
  </div>

  <div class="single-user bordered">
      <p class="user-name">
      user Name: <%=@user_found.name %>
      </p>
      <div>
      <p class="counter">
      Number of posts: <%=@user_found.posts.count %>
      </p>
      </div>
  </div>
</li>


<ul>
  <% @user_found_posts.each do |post|%>
      <a href=<%="/users/#{@user_found.id}/posts/#{post.id}" %>>
          <li>
              <div class="single-user bordered">
                <div>
                  <p>Post#<%=post.id%> </p>
                    <p class="user-name">
                    Title: <%=post.title %>
                    </p>
                    <p class="user-name">
                    Description: <%=post.text %>
                    </p>
                </div>
                <div>
                  <p class="counter">
                  Number of Comments: <%=post.comments.count %>
                  </p>
                </div>
              </div>
          </li>
      </a>
    <ul class="bordered">
        <% @all_comments.each do |comment| %>
          <%  if comment.post_id == post.id %>
            <li>
              <%=@user_to_find.name %>: <%=comment.text %> 
            </li>
          <% end %>
        <% end %>
    </ul>
  <% end %>
</ul>

<div class="btn">
<button class="see-all center">See all posts </button>
</div>
