<ul>
  <% @post_with_comments.each do |post|%>
    <li class="bordered">
              <div class="single-user">
                <div>
                  <p>Post#<%=post.id%> </p>
                    <p class="user-name">
                    Title: <%=post.title %>
                    </p>
                    <p class="user-name">
                    Description: <%=post.text %>
                    </p>
                </div>
                <div>
                  <p class="counter">
                  Comments: <%=post.comments.count %>
                  </p>
                  <p class="counter">
                  Likes: <%=post.likes.count %>
                  </p>
                </div>
              </div>

      <div class="comment-like">
      <div class="like">
        <%= form_with url: "/like", method: :post do |form| %>
          <%= form.hidden_field :post_id, value:post.id %>
          <%= form.hidden_field :author_id, value: current_user.id %>
          <%= form.submit "Like post" %>
        <% end %>
      </div>
      <div class="comment">
          <a href=<%="/loadcomment/#{post.id}"%>>
            <button>loadcomment </button>
          </a>
        </div>
        </div>
          </li>

      <%  if post.comments.length>0 %>
        <ul class="bordered list-comment">
        <h4>Comments:</h4>
            <% post.comments.each_with_index do |comment, i| %>
              <%  if comment.post_id == post.id %>
                <li class="single-comment">
                  <%=@user_found .name %>: <%=comment.text %> 
                </li>
                <hr/>
                <%end%>
            <% end %>
        </ul>
        <%end%>
  <% end %>
</ul>